.dest-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px); /* Dynamic columns */
    grid-auto-rows: minmax(310px, auto); /* Allow variable heights */
    gap: 10px;
    justify-content: center;
    padding: 300px 40px 100px 40px;
    margin: 40px 0px 80px 0px;
    width: calc(100vw - 384px);
    min-height: 100vh;
    scroll-snap-align: start;
    font-size: 2rem;
    color: white;
    overflow: auto;
    //grid-column: 1 / 2;
    //background-color: aqua;
    align-items: center;
    //width: 90vw;
    box-sizing: border-box;
}

.dest-grid-container::-webkit-scrollbar {
    width: 0px;
}

@media screen and (max-width: 787px) {
    .dest-grid-container {
        width: 100vw;
    }
}
