.todo-container {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    outline: none;
    border-radius: 32px;
    font-family: inherit;
    align-self: start;
    max-width: 300px;
    box-sizing: border-box;
    cursor: default;
}

.todo-input {
    padding: 6px 12px;
    width: 162px;
    background-color: #ffffff20;
    border-radius: 6px;
    border: none;
    box-sizing: border-box;
}

.todo-input::placeholder {
    color: #ffffffcc;
}
