.todo-container {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    outline: none;
    border-radius: 32px;
    font-family: inherit;
    //background: red;

    /* Placing it in the last column (right), starting at the first row */
    //grid-column: -1 / -2; /* Takes up 1 column */
    //grid-row: 1 / 10; /* Starts at row 1 and spans all rows */
    align-self: start; /* Align it to the top */
    max-width: 300px;
    box-sizing: border-box;
}
