.dest-section-container {
    width: 100vw;
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2rem;
    color: white;
    //background-color: aqua;
    padding: 116px 00px 0px 0px;
    margin: 0px 0px 20px 0px;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.dest-section-inner {
    width: calc(92vw - 384px);
    height: 84%;
    //background-color: aqua;
    margin-left: 80px;
    display: flex;
    justify-content: flex-start;
    max-height: 400px;
    //max-width: 800px;
    gap: 80px;
}

.dest-section-inner::-webkit-scrollbar {
    width: 0px;
}
/*
@media screen and (max-width: 1069px) {
    .dest-section-inner {
        flex-direction: column;
    }
}
*/
@media screen and (max-width: 1069px) {
    .dest-section-inner {
        width: 100vw;
        align-items: center;
        flex-direction: column;
        height: auto;
        gap: 30px;
        margin-left: 0px;
        padding-top: 80px;
    }
    .dest-section-container {
        gap: 10px;
        padding: 160px 0px 260px 0px;
        margin: 40px 0px 40px 0px;
        width: 100vw;
        min-height: 100vh;
        scroll-snap-align: start;
        font-size: 2rem;
        color: white;
        overflow: auto;
        //grid-column: 1 / 2;
        //background-color: aqua;
        //width: 90vw;
        box-sizing: border-box;
    }
}
